[Unit]
Description=A worker unit for AudioMuse-AI
Documentation=https://neptunehub.github.io/AudioMuse-AI/
Requires=audiomuse-redis.service audiomuse-postgres.service
After=audiomuse-redis.service audiomuse-postgres.service

[Container]
ContainerName=audiomuse-ai-worker
Image=ghcr.io/neptunehub/audiomuse-ai:latest
Pod=audiomuse.pod
Tmpfs=/app/temp_audio
AutoUpdate=registry

#Env
Environment=SERVICE_TYPE=worker MEDIASERVER_TYPE=navidrome 
Environment=NAVIDROME_URL=YOUR-NAVIDROME-URL
Environment=NAVIDROME_USER=YOUR-USER NAVIDROME_PASSWORD=YOUR-PASSWORD
Environment=POSTGRES_USER=audiomuse POSTGRES_PASSWORD=audiomusepassword 
Environment=POSTGRES_DB=audiomusedb POSTGRES_HOST=localhost POSTGRES_PORT=5432 
Environment=REDIS_URL=redis://localhost:6379/0 
Environment=GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE
Environment=TEMP_DIR=/app/temp_audio

[Service]
Restart=always