# --- Shared backend configuration ---
POSTGRES_USER=audiomuse
POSTGRES_PASSWORD=audiomusepassword
POSTGRES_DB=audiomusedb
POSTGRES_PORT=5432
POSTGRES_HOST=192.168.3.210
REDIS_URL=redis://192.168.3.213:6379/0